flows updated.json
[{"id":"7a778587.6bef1c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"47140e01.7c0d5","type":"ibmiot in","z":"7a778587.6bef1c","authentication":"apiKey","apiKey":"ba7f8e81.6e816","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"27045","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":220,"wires":[["9c61b32.ce8fb5","41cb452f.5efecc","ed076421.61f5b8"]]},{"id":"41cb452f.5efecc","type":"function","z":"7a778587.6bef1c","name":"lubrication in liters","func":"global.set('liters',msg.payload[\"lubrication in liters\"])\nmsg.payload=msg.payload[\"lubrication in liters\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["54544136.f877c"]]},{"id":"9c61b32.ce8fb5","type":"function","z":"7a778587.6bef1c","name":"lubrication level","func":"global.set('level',msg.payload[\"lubrication level is\"])\nmsg.payload=msg.payload[\"lubrication level is\"]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["9a5d8a3.66d0f78","b181919e.4d167"]]},{"id":"9a5d8a3.66d0f78","type":"ui_chart","z":"7a778587.6bef1c","name":"","group":"e5cdc16c.76236","order":0,"width":0,"height":0,"label":"lubrication level","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":180,"wires":[[]]},{"id":"54544136.f877c","type":"ui_gauge","z":"7a778587.6bef1c","name":"","group":"e5cdc16c.76236","order":1,"width":0,"height":0,"gtype":"wave","title":"lubrication in liters","label":"liters","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#00e626","#ca3838"],"seg1":"","seg2":"","x":950,"y":240,"wires":[]},{"id":"cadf532f.0eb49","type":"http in","z":"7a778587.6bef1c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["999dd844.b83cf8"]]},{"id":"716a3bc1.4ae954","type":"http response","z":"7a778587.6bef1c","name":"","statusCode":"","headers":{},"x":970,"y":320,"wires":[]},{"id":"999dd844.b83cf8","type":"function","z":"7a778587.6bef1c","name":"","func":"msg.payload= {\n    \"level\":global.get('level'),\n    \"liters\":global.get('liters')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[["716a3bc1.4ae954"]]},{"id":"bc3d34b7.9decb8","type":"function","z":"7a778587.6bef1c","name":"inputs","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":680,"wires":[["bf4ee911.6938f8","7c2a483f.cc77d8","149b4904.e19597"]]},{"id":"a96ea518.25bb38","type":"http in","z":"7a778587.6bef1c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":640,"wires":[["bc3d34b7.9decb8"]]},{"id":"bf4ee911.6938f8","type":"http response","z":"7a778587.6bef1c","name":"","statusCode":"","headers":{},"x":970,"y":640,"wires":[]},{"id":"7c2a483f.cc77d8","type":"debug","z":"7a778587.6bef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":700,"wires":[]},{"id":"149b4904.e19597","type":"ibmiot out","z":"7a778587.6bef1c","authentication":"apiKey","apiKey":"ba7f8e81.6e816","outputType":"cmd","deviceId":"27045","deviceType":"ESP32","eventCommandType":"pumpon","format":"json","data":"myData","qos":0,"name":"IBM IoT","service":"registered","x":960,"y":480,"wires":[]},{"id":"a6a580b7.4323b","type":"ui_button","z":"7a778587.6bef1c","name":"","group":"e5cdc16c.76236","order":2,"width":0,"height":0,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"input\":\"pumpon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":520,"y":480,"wires":[["149b4904.e19597"]]},{"id":"cca0f534.e12388","type":"ui_button","z":"7a778587.6bef1c","name":"","group":"e5cdc16c.76236","order":3,"width":0,"height":0,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"input\":\"pumpoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":520,"y":560,"wires":[["149b4904.e19597"]]},{"id":"9e93278d.c912a8","type":"cloudant out","z":"7a778587.6bef1c","name":"","cloudant":"","database":"iotproject","service":"nikhil-iot-app-cloudant-1621487625875-67724","payonly":false,"operation":"insert","x":960,"y":380,"wires":[]},{"id":"1f40f201.e580be","type":"function","z":"7a778587.6bef1c","name":"cloud files","func":"msg.payload= {\n    \"level\":global.get('level'),\n    \"liters\":global.get('liters')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["9e93278d.c912a8"]]},{"id":"ed076421.61f5b8","type":"debug","z":"7a778587.6bef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"ea47e48d.928bf8","type":"debug","z":"7a778587.6bef1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":840,"wires":[]},{"id":"b181919e.4d167","type":"switch","z":"7a778587.6bef1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"210","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":840,"wires":[["31b96696.c78dea"]]},{"id":"31b96696.c78dea","type":"http request","z":"7a778587.6bef1c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=LFcy57zj9ZNnMRrVUGiY62Ah8EOPTvK4Wkfb3gtlaH0e1ouBdD5JHWaGOskiQqvoYyIbRrxwhmU4Z8XL&route=q&message=Alert!!!!!The%20level%20is%20low,%20switch%20on%20the%20pump%20immediately&language=english&flash=0&numbers=8688186130","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":840,"wires":[["59d93e5d.07ccd"]]},{"id":"59d93e5d.07ccd","type":"function","z":"7a778587.6bef1c","name":"","func":"msg.payload={\n    \"alert\":\"Alert!!!!!The level is low, switch on the pump  immediately\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":840,"wires":[["ea47e48d.928bf8"]]},{"id":"ba7f8e81.6e816","type":"ibmiot","name":"GCET IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e5cdc16c.76236","type":"ui_group","name":"Default","tab":"ac3b1ea2.f637c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ac3b1ea2.f637c","type":"ui_tab","name":"pump controller","icon":"dashboard","disabled":false,"hidden":false}]