flows(updated).json
[{"id":"505df379.4b2f5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad8fb7cf.9ba0f8","type":"ibmiot in","z":"505df379.4b2f5c","authentication":"apiKey","apiKey":"1a76fa00.65d296","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1208","applicationId":"","deviceType":"esp32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":160,"wires":[["5157bcd1.208bd4","204e1bcc.d1f904","94e0e646.9f0658","70b63ac9.296f94"]]},{"id":"94e0e646.9f0658","type":"function","z":"505df379.4b2f5c","name":"LEVEL","func":"global.set('level',msg.payload.level)\nmsg.payload=msg.payload.level\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["4be203a3.5fef4c","dc9394fb.042298"]]},{"id":"5157bcd1.208bd4","type":"function","z":"505df379.4b2f5c","name":"LITERS","func":"global.set('lubrication',msg.payload.lubrication)\nmsg.payload=msg.payload.lubrication\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["22d6eb91.529f34","df3692b7.90857"]]},{"id":"204e1bcc.d1f904","type":"debug","z":"505df379.4b2f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"c502e968.71eaf8","type":"function","z":"505df379.4b2f5c","name":"web page","func":"msg.payload={\n    \n    \"level\":global.get('level'),\n    \"lubrication\":global.get('lubrication')\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["61455dd0.651ff4"]]},{"id":"43a4c54e.8ce62c","type":"http in","z":"505df379.4b2f5c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":260,"wires":[["c502e968.71eaf8"]]},{"id":"61455dd0.651ff4","type":"http response","z":"505df379.4b2f5c","name":"","statusCode":"","headers":{},"x":830,"y":260,"wires":[]},{"id":"b340ef23.8f8ca","type":"ibmiot out","z":"505df379.4b2f5c","authentication":"apiKey","apiKey":"f91c268e.efa9f8","outputType":"cmd","deviceId":"1208","deviceType":"esp32","eventCommandType":"click","format":"json","data":"command","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":460,"wires":[]},{"id":"a65ca2e9.0c95b","type":"ui_button","z":"505df379.4b2f5c","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPOFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":460,"wires":[["b340ef23.8f8ca"]]},{"id":"f4c417c3.bbdd38","type":"http in","z":"505df379.4b2f5c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":620,"wires":[["e4b20c9.35175f"]]},{"id":"8ecda1b9.1bae2","type":"debug","z":"505df379.4b2f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":560,"wires":[]},{"id":"e4a7053d.7875b8","type":"http response","z":"505df379.4b2f5c","name":"","statusCode":"","headers":{},"x":650,"y":620,"wires":[]},{"id":"e4b20c9.35175f","type":"function","z":"505df379.4b2f5c","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["8ecda1b9.1bae2","e4a7053d.7875b8","b340ef23.8f8ca"]]},{"id":"22d6eb91.529f34","type":"switch","z":"505df379.4b2f5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"4500","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":360,"wires":[["ff8a4da6.2f972"]]},{"id":"ff8a4da6.2f972","type":"function","z":"505df379.4b2f5c","name":"","func":"msg.payload=\"OFF THE PUMP LEVEL IS HIGH\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":380,"wires":[["7b0b434d.340c8c"]]},{"id":"7b0b434d.340c8c","type":"ui_toast","z":"505df379.4b2f5c","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":900,"y":380,"wires":[]},{"id":"df3692b7.90857","type":"ui_gauge","z":"505df379.4b2f5c","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"gtype":"wave","title":"LITERS","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":220,"wires":[]},{"id":"cbcdb0e0.14986","type":"ui_button","z":"505df379.4b2f5c","name":"","group":"eef9f91f.7f0128","order":2,"width":0,"height":0,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPON\"}","payloadType":"json","topic":"topic","topicType":"str","x":370,"y":400,"wires":[["b340ef23.8f8ca"]]},{"id":"70b63ac9.296f94","type":"function","z":"505df379.4b2f5c","name":"","func":"msg.payload=\n{\n    \"level\":msg.payload.level,\n    \"lubrication\":msg.payload.lubrication\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["ea019ca3.0a948"]]},{"id":"ea019ca3.0a948","type":"cloudant out","z":"505df379.4b2f5c","name":"","cloudant":"","database":"project","service":"esp32-nodered-cloudant-1621487382323-320","payonly":false,"operation":"insert","x":890,"y":80,"wires":[]},{"id":"4be203a3.5fef4c","type":"ui_chart","z":"505df379.4b2f5c","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"label":"level","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"800","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":160,"wires":[[]]},{"id":"dc9394fb.042298","type":"switch","z":"505df379.4b2f5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"250","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":300,"wires":[["9b2a2819.1cbf68"]]},{"id":"9b2a2819.1cbf68","type":"function","z":"505df379.4b2f5c","name":"","func":"msg.payload=\"ON THE PUMP LEVEL IS LOW\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["ab1bb3d9.993dd"]]},{"id":"ab1bb3d9.993dd","type":"ui_toast","z":"505df379.4b2f5c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":320,"wires":[]},{"id":"1a76fa00.65d296","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f91c268e.efa9f8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eef9f91f.7f0128","type":"ui_group","name":"Default","tab":"3eee755a.d3252a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3eee755a.d3252a","type":"ui_tab","name":"simulator","icon":"dashboard","disabled":false,"hidden":false}]